$black: #24292e;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
*::before,
*::after {
    content: "";
    position: absolute;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
body {
    width: 100%;
    position: relative;
    color: $black;
}
section {
    width: 100%;
    height: 100vh;
    position: relative;
    scroll-snap-align: start;
}
nav {
    width: 100%;
    height: 400vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    & * {
        z-index: 10;
    }
}

li {
    list-style: none;
}
a {
    color: $black;
    text-decoration: none;
}

.nav {
    width: 100%;
    height: 400vh;
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 25vh repeat(4, 1fr) 25vh 300vh;
    grid-template-areas: 
        ".        ."
        "home     ."
        "projects ."
        "about    ."
        "contact  ."
        ".        .";
    align-items: center;
    &__home,
    &__projects,
    &__about,
    &__contact {
        text-align: center;
        position: sticky;
        top: 1vh;
        transition: transform 100ms ease-in;
        & > a {
            width: 100%;
            padding: 0.5em 1em;
            border-radius: 20px;
            background-color: beige;
            display: inline-block;
        }
    }
    &__home {
        grid-area: home;
        &--hor {
            transform: translateX(10vw);
        }
    }
    &__projects {
        grid-area: projects;
        &--hor {
            transform: translateX(30vw);
        }
    }
    &__about {
        grid-area: about;
        &--hor {
            transform: translateX(50vw);
        }
    }
    &__contact {
        grid-area: contact;
        &--hor {
            transform: translateX(70vw);
        }
    }
}
.home {
    background-color: beige;
    &__image {
        width: 85%;
        height: 99vh;
        border-radius: 50px 0 0 50px;
        background-image: linear-gradient(to bottom right, rgba(50,50,50,0%), rgba(50,50,50,100%));
        display: flex;
        justify-content: center;
        position: relative;
        float: right;
        overflow: hidden;
        &__background {
            height: 99vh;
            position: absolute;
            transform-origin: 70% 80%;
            animation-play-state: paused;
            animation-delay: calc(var(--scroll) * -2000ms);
            animation-duration: 1000ms;
            animation-iteration-count: 1;
            animation-fill-mode: both;
        }
        &__cactus {
            animation-name: cactusFly;
        }
        &__coffeeMug {
            animation-name: mugFall
        }
        &__table {
            // animation-name: tableFall;
            animation: tableFall 500ms ease-in forwards;
        }
        &__lamp {
            animation-name: lampFall;
        }
        &__laptop {
            animation-name: laptopFall;
        }
    }
    &__github {
        width: 15%;
        height: auto;
        margin-top: 5vh;
        display: block;
        position: absolute;
        &:hover .home__github__logo,
        &:focus .home__github__logo {
            transform: translateX(-5vw);
        }
        &:hover .home__github__word,
        &:focus .home__github__word {
            transform: translateX(50%);
        }
        &:hover .home__github__word__wrapper,
        &:focus .home__github__word__wrapper {
            clip-path: inset(0%);
        }
        &__logo {
            margin: auto;
            font-size: 3rem;
            padding: 0.1em;
            border-radius: 50%;
            background-color: beige;
            color: $black;
            display: block;
            position: relative;
            transition: transform 200ms;
        }
        &__word {
            width: 100%;
            text-align: right;
            display: block;
            padding: 0.125em 1em;
            border-radius: 0 30px 30px 0;
            background-color: #24292e;
            color: beige;
            font-size: 1.5rem;
            position: absolute;
            left: -50%;
            transition: transform 200ms;
            &__wrapper {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 0;
                clip-path: inset(0% 0% 0% 50%);
                transition: clip-path 200ms;
            }
        }
    }
}
.projects {
    border-radius: 0 0 50px 50px;
    background-color: beige;
    display: grid;
    grid-template-columns: 15% repeat(6, 1fr) 15%;
    grid-template-rows: 5rem 3fr 3fr 1fr;
    grid-template-areas: 
        ". nav   nav   nav   nav   nav   nav   ."
        ". card1 card1 card2 card2 card3 card3 ."
        ". .     card4 card4 card5 card5 .     .";
    gap: 50px;
    &::before,
    &::after {
        content: "";
        width: 100%;
        height: 50px;
        position: absolute;
        top: -1vh;
    }
    &::before {
        background-color: rgb(50,50,50);
    }
    &::after {
        border-top-right-radius: 50px;
        background-color: beige;
    }
    &__card {
        width: 100%;
        height: 100%;
        &--1 {
            background-color: red;
            grid-area: card1;
        }
        &--2 {
            background-color: green;
            grid-area: card2;
        }
        &--3 {
            background-color: blue;
            grid-area: card3;
        }
        &--4 {
            background-color: orange;
            grid-area: card4;
        }
        &--5 {
            background-color: purple;
            grid-area: card5;
        }
    }
}
.about {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "text1  media2 media4"
        "media1 text2  media4"
        "media1 media3 text3";
    &::after {
        content: "";
        width: 100%;
        height: 50px;
        background-color: black;
        position: absolute;
        top: -50px;
        left: 0;
        z-index: -1;
    }
    &__panel {
        width: 100%;
        height: 100%;
        &--text {
            background-color: black;
            display: grid;
            justify-content: center;
            align-items: center;
            &1 {
                grid-area: text1;
            }
            &2 {
                grid-area: text2;
            }
            &3 {
                grid-area: text3;
            }
        }
        &--media {
            background-color: black;
            &1 {
                grid-area: media1;
            }
            &2 {
                grid-area: media2;
            }
            &3 {
                grid-area: media3;
            }
            &4 {
                grid-area: media4;
            }
        }
    }
    &__textCard {
        border-radius: 20px;
        background-color: beige;
        padding: 2em;
        margin: 1em 2em;
    }
}
.contact {
    border-radius: 50px 50px 0 0;
    background-color: beige;
    &::before {
        content: "";
        width: 100%;
        height: 50px;
        background-color: black;
        position: absolute;
        top: 0px;
        left: 0;
        z-index: -1;
    }
}


@keyframes cactusFly {
    to {
        transform: translate(-30%, -50%) rotate(-30deg);
    }
}
@keyframes mugFall {
    to {
        transform: translate(-8%, 1%) rotate(-20deg);
    }
}
@keyframes tableFall {
    0% {
        transform: rotate(0deg);
    } 12% {
        transform: rotate(-2.178deg);
    } 24% {
        transform: rotate(-8.712deg);
    } 36% {
        transform: rotate(-19.602deg);
    } 54% {
        transform: rotate(-15.004deg);
    } 74% {
        transform: rotate(-19.674deg);
    } 82% {
        transform: rotate(-18.75deg);
    } 92% {
        transform: rotate(-19.868deg);
    } 96% {
        transform: rotate(-19.692deg);
    } 100% {
        transform: rotate(-20deg);
    }
}
@keyframes lampFall {
    to {
        transform: translate(-20%) rotate(-20deg);
    }
}
@keyframes laptopFall {
    to {
        transform: translate(-10%) rotate(-15deg);
    }
}