*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: monospace;
}

*::before,
*::after {
  content: "";
  position: absolute;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

body {
  width: 100%;
  position: relative;
  color: #24292e;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
}

nav {
  width: 100%;
  height: 400vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

nav * {
  z-index: 10;
}

li {
  list-style: none;
}

a {
  color: #24292e;
  text-decoration: none;
}

.nav {
  width: 100%;
  height: 400vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% auto;
      grid-template-columns: 15% auto;
  -ms-grid-rows: 25vh (1fr)[4] 25vh 300vh;
      grid-template-rows: 25vh repeat(4, 1fr) 25vh 300vh;
      grid-template-areas: ".        ." "home     ." "projects ." "about    ." "contact  ." ".        .";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__home, .nav__projects, .nav__about, .nav__contact {
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 1vh;
  -webkit-transition: -webkit-transform 100ms ease-in;
  transition: -webkit-transform 100ms ease-in;
  transition: transform 100ms ease-in;
  transition: transform 100ms ease-in, -webkit-transform 100ms ease-in;
}

.nav__home > a, .nav__projects > a, .nav__about > a, .nav__contact > a {
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 20px;
  background-color: beige;
  display: inline-block;
}

.nav__home {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: home;
}

.nav__home--hor {
  -webkit-transform: translateX(10vw);
          transform: translateX(10vw);
}

.nav__projects {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: projects;
}

.nav__projects--hor {
  -webkit-transform: translateX(30vw);
          transform: translateX(30vw);
}

.nav__about {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: about;
}

.nav__about--hor {
  -webkit-transform: translateX(50vw);
          transform: translateX(50vw);
}

.nav__contact {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: contact;
}

.nav__contact--hor {
  -webkit-transform: translateX(70vw);
          transform: translateX(70vw);
}

.home {
  background-color: beige;
}

.home__image {
  width: 85%;
  height: 99vh;
  border-radius: 50px 0 0 50px;
  position: absolute;
  right: 0;
}

.home__github {
  width: 15%;
  height: auto;
  margin-top: 5vh;
  display: block;
  position: absolute;
}

.home__github:hover .home__github__logo,
.home__github:focus .home__github__logo {
  -webkit-transform: translateX(-5vw);
          transform: translateX(-5vw);
}

.home__github:hover .home__github__word,
.home__github:focus .home__github__word {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.home__github:hover .home__github__word__wrapper,
.home__github:focus .home__github__word__wrapper {
  -webkit-clip-path: inset(0%);
          clip-path: inset(0%);
}

.home__github__logo {
  margin: auto;
  font-size: 3rem;
  padding: 0.1em;
  border-radius: 50%;
  background-color: beige;
  color: #24292e;
  display: block;
  position: relative;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.home__github__word {
  width: 100%;
  text-align: right;
  display: block;
  padding: 0.125em 1em;
  border-radius: 0 30px 30px 0;
  background-color: #24292e;
  color: beige;
  font-size: 1.5rem;
  position: absolute;
  left: -50%;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.home__github__word__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  -webkit-clip-path: inset(0% 0% 0% 50%);
          clip-path: inset(0% 0% 0% 50%);
  -webkit-transition: -webkit-clip-path 200ms;
  transition: -webkit-clip-path 200ms;
  transition: clip-path 200ms;
  transition: clip-path 200ms, -webkit-clip-path 200ms;
}

.projects {
  border-radius: 0 0 50px 50px;
  background-color: beige;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% (1fr)[6] 15%;
      grid-template-columns: 15% repeat(6, 1fr) 15%;
  -ms-grid-rows: 5rem 3fr 3fr 1fr;
      grid-template-rows: 5rem 3fr 3fr 1fr;
      grid-template-areas: ". nav   nav   nav   nav   nav   nav   ." ". card1 card1 card2 card2 card3 card3 ." ". .     card4 card4 card5 card5 .     .";
  gap: 50px;
}

.projects::before, .projects::after {
  content: "";
  width: 100%;
  height: 50px;
  position: absolute;
  top: -1vh;
}

.projects::before {
  background-color: black;
}

.projects::after {
  border-top-right-radius: 50px;
  background-color: beige;
}

.projects__card {
  width: 100%;
  height: 100%;
}

.projects__card--1 {
  background-color: red;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: card1;
}

.projects__card--2 {
  background-color: green;
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: card2;
}

.projects__card--3 {
  background-color: blue;
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-area: card3;
}

.projects__card--4 {
  background-color: orange;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: card4;
}

.projects__card--5 {
  background-color: purple;
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: card5;
}

.about {
  background-color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "text1  media2 media4" "media1 text2  media4" "media1 media3 text3";
}

.about::after {
  content: "";
  width: 100%;
  height: 50px;
  background-color: black;
  position: absolute;
  top: -50px;
  left: 0;
  z-index: -1;
}

.about__panel {
  width: 100%;
  height: 100%;
}

.about__panel--text {
  background-color: black;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__panel--text1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: text1;
}

.about__panel--text2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: text2;
}

.about__panel--text3 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: text3;
}

.about__panel--media {
  background-color: black;
}

.about__panel--media1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: media1;
}

.about__panel--media2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: media2;
}

.about__panel--media3 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: media3;
}

.about__panel--media4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: media4;
}

.about__textCard {
  border-radius: 20px;
  background-color: beige;
  padding: 2em;
  margin: 1em 2em;
}

.contact {
  border-radius: 50px 50px 0 0;
  background-color: beige;
}

.contact::before {
  content: "";
  width: 100%;
  height: 50px;
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */