$text-color: #eee;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    position: relative;
}
nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}
li {
    list-style: none;
    display: flex;
    justify-content: center;
}
a {
    color: black;
    text-decoration: none;
}

.nav {
    width: 15%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
    &__home,
    &__projects,
    &__about,
    &__contact {
        width: 100%;
        text-align: center;
        display: inline-block;
    }
}
@keyframes homeMove {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(10vw);
    }
}
@keyframes projectsMove {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(30vw);
    }
}
@keyframes aboutMove {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(50vw);
    }
}
@keyframes contactMove {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(70vw);
    }
}
@keyframes homeReturn {
    0% {
        transform: translateX(10vw);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes projectsReturn {
    0% {
        transform: translateX(30vw);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes aboutReturn {
    0% {
        transform: translateX(50vw);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes contactReturn {
    0% {
        transform: translateX(70vw);
    }
    100% {
        transform: translateX(0);
    }
}
.home {
    width: 100%;
    height: 100vh;
    background-color: beige;
    position: relative;
    &__image {
        width: 85%;
        height: 99vh;
        border-radius: 50px 0 0 50px;
        background-image: url("/portfolio_image.jpg");
        background-size: cover;
        position: absolute;
        right: 0;

    }
}
.projects {
    width: 100%;
    height: 100vh;
    border-radius: 0 0 50px 50px;
    background-color: beige;
    position: relative;
    display: grid;
    grid-template-columns: 15% repeat(6, 1fr) 15%;
    grid-template-rows: 5rem 3fr 3fr 1fr;
    grid-template-areas: 
        ". nav   nav   nav   nav   nav   nav   ."
        ". card1 card1 card2 card2 card3 card3 ."
        ". .     card4 card4 card5 card5 .     .";
    gap: 50px;
    &::before,
    &::after {
        content: "";
        width: 100%;
        height: 50px;
        position: absolute;
        top: -1vh;
    }
    &::before {
        background-color: black;
    }
    &::after {
        border-top-right-radius: 50px;
        background-color: beige;
    }
    &__card {
        width: 100%;
        height: 100%;
        &--1 {
            background-color: red;
            grid-area: card1;
        }
        &--2 {
            background-color: green;
            grid-area: card2;
        }
        &--3 {
            background-color: blue;
            grid-area: card3;
        }
        &--4 {
            background-color: orange;
            grid-area: card4;
        }
        &--5 {
            background-color: purple;
            grid-area: card5;
        }
    }
}
.about {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "text1  media2 media4"
        "media1 text2  media4"
        "media1 media3 text3";
    &::after {
        content: "";
        width: 100%;
        height: 50px;
        background-color: black;
        position: absolute;
        top: -50px;
        left: 0;
        z-index: -1;
    }
    &__panel {
        width: 100%;
        height: 100%;
        &--text {
            background-color: black;
            display: grid;
            justify-content: center;
            align-items: center;
            &1 {
                grid-area: text1;
            }
            &2 {
                grid-area: text2;
            }
            &3 {
                grid-area: text3;
            }
        }
        &--media {
            background-color: black;
            &1 {
                grid-area: media1;
            }
            &2 {
                grid-area: media2;
            }
            &3 {
                grid-area: media3;
            }
            &4 {
                grid-area: media4;
            }
        }
    }
    &__textCard {
        border-radius: 20px;
        background-color: beige;
        padding: 2em;
        margin: 1em 2em;
    }
}
.contact {
    width: 100%;
    height: 100vh;
    border-radius: 50px 50px 0 0;
    background-color: beige;
    position: relative;
    &::before {
        content: "";
        width: 100%;
        height: 50px;
        background-color: black;
        position: absolute;
        top: 0px;
        left: 0;
        z-index: -1;
    }
}