$red: #fd535c;
$blue: #68d9f4;
$yellow: #f8f44f;
$green: #45e3a0;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Montserrat;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-rows: 1fr repeat(3, 7vh);
    grid-template-areas: 
        "hero"
        "projects"
        "about"
        "contact";
}

section {
    width: 100vw;
    height: 80vh;
    overflow-x: hidden;
    position: relative;
    transition: transform 200ms;
}

h2 {
    font-size: clamp(1.25rem, 6vw, 4rem);
}

h3 {
    font-family: Limelight;
    font-size: 3vh;
}

h4 {
    font-size: clamp(0.5rem, 4vw, 4rem);
    font-weight: 100;
    color: white;
    opacity: 0.65;
}

p {
    font-size: clamp(0.75rem, 2vh, 3rem);
    // padding: 1em 0;
}

a,
input[type="submit"] {
    width: 75%;
    font-size: clamp(1.5rem, 5vw, 5rem);
    background-color: $green;
    border: none;
    border-radius: 5vh;
    padding: 0.5em 1em;
    place-self: center;
    display: grid;
    place-content: center;
}



.section-title {
    width: 100vw;
    min-height: 7vh;
    position: sticky;
    top: 0;
    z-index: 100;
    display: grid;
    align-content: center;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.hero {
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-position: calc(46% + 25vw);
    background-size: cover;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33vh 1.25fr 1fr;
    grid-template-areas:
        "hero-text  ."
        "hero-sub   hero-sub"
        "hero-but   hero-but";

    & > .section-title {
        width: 100vw;
        position: absolute;
        z-index: 10;
        box-shadow: none;
        transform: translateY(-7vh);
        transition: transform 200ms ease-in-out;
    }

    & .--hidden {
        transform: translateY(0);
    }

    &__text {
        &__line {
            word-break: keep-all;
            font-size: clamp(1.1rem, 5vw, 5rem);
            position: relative;

            &:nth-of-type(1) {
                right: -0.18em;
            }

            &:nth-of-type(2) {
                right: -0.085em;
            }

            &:nth-of-type(3) {
                font-size: clamp(1rem, 4vw, 3rem);
                font-weight: 100;
                color: white;
                filter: drop-shadow(0 0 2px black);
                top: 0.1em;
                right: -0.1em;
                z-index: 10;
            }

            &:nth-of-type(4) {
                font-size: clamp(3rem, 18vw, 10rem);
                right: -0.085em;
                z-index: 5;
                position: relative;
                
                & span {
                    font-family: Limelight;
                    font-weight: 900;
                    position: relative;
                    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75));

                    &:nth-of-type(1) {
                        color: $red;
                    }
                    &:nth-of-type(2) {
                        color: $blue;
                    }
                    &:nth-of-type(3) {
                        color: $yellow;
                    }
                    &:nth-of-type(4) {
                        color: $green;
                    }
                }
            }
        }

        &__container {
            margin-left: 2vw;
            grid-area: hero-text;
            text-align: right;
            line-height: 6vw;
            align-self: end;
        }
    }

    &__sub-text {
        &__container {
            grid-area: hero-sub;
            align-self: end;
        }
    }

    & a {
        grid-area: hero-but;
    }
}

.projects {
    background-color: $red;
    grid-area: projects;
    transform: translateY(-73vh);
    z-index: 20;
    display: flex;
    flex-direction: column;
    
    &__section {
        height: 73vh;
        overflow: hidden;
        flex-shrink: 0;
        transition: flex-shrink 300ms;

        & span:nth-of-type(1) {
            width: 25%;
            font-size: clamp(1rem, 2vw, 3rem);
            background-color: $red;
            border: none;
            border-radius: 5vh;
            padding: 0;
            margin: 2em;
            display: block;
            position: absolute;
            z-index: 30;
            cursor: pointer;
        }
        
        & h4 {
            margin-top: 0;
        }
        
        & * {
            margin: 1.2rem auto 0;
            transition: transform 500ms ease-in-out, opacity 500ms ease-out;
        }
        
        &__img {
            max-width: 90vw;
            max-height: 25vh;
            position: relative;
            filter: drop-shadow(1em 1em 40px rgba(0, 0, 0, 0.5));
            transition: transform 500ms 300ms ease-in-out, filter 500ms 300ms ease-in-out;
        }

        &--hidden {
            flex-shrink: 1;

            & span:nth-of-type(1) {
                opacity: 0;
            }

            & > img {
                transform: scale(80%);
                filter: grayscale(20%) drop-shadow(0.1em 0.1em 5px rgba(0, 0, 0, 0.9));
                position: relative;
                cursor: pointer;
                transition: transform 500ms ease-in-out, filter 500ms ease-in-out;

                & ~ h3,
                & ~ h4 {
                    transform: translateY(-1.25rem);
                }

                & ~ p,
                & ~ button {
                    opacity: 0;
                }
            }
        }
    }

    & > .section-title {
        background-color: $red;
    }
}

.about {
    background-color: $blue;
    grid-area: about;
    transform: translateY(-73vh);
    z-index: 30;

    & > .section-title__container {
        background-color: $blue;
    }
}

.contact {
    background-color: $yellow;
    grid-area: contact;
    transform: translateY(-73vh);
    z-index: 40;

    & > .section-title__container {
        background-color: $yellow;
    }
}

.--hidden {
    transform: translateY(0);
    overflow-y: hidden;
}

@media (orientation: portrait) and (min-width:575px) {
    .hero {
        background-position: left;
    }
}
@media (orientation: landscape) {
    .hero {
        background-position: center;
    }
}

.logo {
    width: 5vh;
    margin: 1vh 2vw;
    position: absolute;
}