$red: #fd535c;
$blue: #68d9f4;
$yellow: #f8f44f;
$green: #45e3a0;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    text-align: center;
}

section {
    width: 100vw;
    height: 80vh;
    padding: 1vh 3vw;
    overflow: hidden;
    position: relative;
}

h2 {
    font-size: clamp(1.25rem, 5vw, 5rem);
}

h3 {
    font-size: clamp(0.5rem, 4vw, 4rem);
    font-weight: 200;
}

button,
input[type="submit"] {
    font-size: 1.5rem;
    background-color: $green;
    padding: 0.5em 1em;
    border: none;
    // outline: inherit;
}

.hero {
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-position: calc(46% + 25vw);
    background-size: cover;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 35vh 22vh 22vh;
    grid-template-areas:
        "hero-text  ."
        "hero-sub   hero-sub"
        "hero-but   hero-but";

    &__text {
        &__line {
            word-break: keep-all;
            font-size: clamp(1.1rem, 5vw, 5rem);
            position: relative;

            &:nth-of-type(1) {
                right: -0.18em;
            }

            &:nth-of-type(2) {
                right: -0.085em;
            }

            &:nth-of-type(3) {
                font-size: clamp(1rem, 4vw, 3rem);
                font-weight: 100;
                color: white;
                filter: drop-shadow(0 0 2px black);
                top: 0.1em;
                right: -0.1em;
                z-index: 10;
            }

            &:nth-of-type(4) {
                font-size: clamp(3rem, 18vw, 10rem);
                right: -0.025em;
                z-index: 5;
                position: relative;
                
                & span {
                    font-family: Limelight;
                    font-weight: 900;
                    position: relative;
                    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75));

                    &:nth-of-type(1) {
                        color: $red;
                    }
                    &:nth-of-type(2) {
                        color: $blue;
                    }
                    &:nth-of-type(3) {
                        color: $yellow;
                    }
                    &:nth-of-type(4) {
                        color: $green;
                    }
                }

                // &::after {
                //     content: "";
                //     width: 3.5em;
                //     height: 4rem;
                //     border-radius: 5vh;
                //     background-color: black;
                //     position: absolute;
                //     z-index: -1;
                //     top: -2.5vh;
                //     left: 0;
                //     filter: blur(0.5em);
                //     opacity: 0.2;
                // }
            }
        }

        &__container {
            grid-area: hero-text;
            text-align: right;
            line-height: 6vw;
            align-self: end;
        }
    }

    &__sub-text {
        &__container {
            grid-area: hero-sub;
            align-self: end;
            // position: relative;
            // top: 35vh;
        }
    }

    & button {
        width: 50%;
        height: 35%;
        border-radius: 5vh;
        grid-area: hero-but;
        place-self: center;
        display: grid;
        place-content: center;
    }
}

.logo {
    width: 5vh;
    margin: 0.5rem 0.75rem;
    position: absolute;
}