*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Montserrat;
  text-align: center;
  overflow: hidden;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr (7vh)[3];
      grid-template-rows: 1fr repeat(3, 7vh);
      grid-template-areas: "hero" "projects" "about" "contact";
}

section {
  width: 100vw;
  height: 80vh;
  overflow-x: hidden;
  position: relative;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

h2 {
  font-size: clamp(1.25rem, 6vw, 4rem);
}

h3 {
  font-family: Limelight;
  font-size: 3vh;
}

h4 {
  font-size: clamp(0.5rem, 4vw, 4rem);
  font-weight: 100;
  color: white;
  opacity: 0.65;
}

p {
  font-size: clamp(0.75rem, 2vh, 3rem);
  padding: 1em 0;
}

button,
input[type="submit"] {
  width: 75%;
  font-size: clamp(1.5rem, 5vw, 5rem);
  background-color: #45e3a0;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5vh;
  padding: 0.5em 1em;
  place-self: center;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.section-title {
  height: 7vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.hero {
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-position: calc(46% + 25vw);
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 33vh 1.25fr 1fr;
      grid-template-rows: 33vh 1.25fr 1fr;
      grid-template-areas: "hero-text  ." "hero-sub   hero-sub" "hero-but   hero-but";
}

.hero > .section-title {
  width: 100vw;
  position: absolute;
  z-index: 10;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(-7vh);
          transform: translateY(-7vh);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.hero .--hidden {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.hero__text__line {
  word-break: keep-all;
  font-size: clamp(1.1rem, 5vw, 5rem);
  position: relative;
}

.hero__text__line:nth-of-type(1) {
  right: -0.18em;
}

.hero__text__line:nth-of-type(2) {
  right: -0.085em;
}

.hero__text__line:nth-of-type(3) {
  font-size: clamp(1rem, 4vw, 3rem);
  font-weight: 100;
  color: white;
  -webkit-filter: drop-shadow(0 0 2px black);
          filter: drop-shadow(0 0 2px black);
  top: 0.1em;
  right: -0.1em;
  z-index: 10;
}

.hero__text__line:nth-of-type(4) {
  font-size: clamp(3rem, 18vw, 10rem);
  right: -0.085em;
  z-index: 5;
  position: relative;
}

.hero__text__line:nth-of-type(4) span {
  font-family: Limelight;
  font-weight: 900;
  position: relative;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75));
}

.hero__text__line:nth-of-type(4) span:nth-of-type(1) {
  color: #fd535c;
}

.hero__text__line:nth-of-type(4) span:nth-of-type(2) {
  color: #68d9f4;
}

.hero__text__line:nth-of-type(4) span:nth-of-type(3) {
  color: #f8f44f;
}

.hero__text__line:nth-of-type(4) span:nth-of-type(4) {
  color: #45e3a0;
}

.hero__text__container {
  margin-left: 2vw;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: hero-text;
  text-align: right;
  line-height: 6vw;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.hero__sub-text__container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: hero-sub;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.hero button {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: hero-but;
}

.projects {
  background-color: #fd535c;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: projects;
  -webkit-transform: translateY(-73vh);
          transform: translateY(-73vh);
  z-index: 20;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.projects__section {
  padding: 0 5vw;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-rows: 30vh 5vh 3vh 15vh 8vh 12vh;
      grid-template-rows: 30vh 5vh 3vh 15vh 8vh 12vh;
}

.projects__section__img {
  max-width: 90vw;
  max-height: 25vh;
  -webkit-box-shadow: 1em 1em 40px rgba(0, 0, 0, 0.5);
          box-shadow: 1em 1em 40px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out, -webkit-transform 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
}

.projects__section--hidden {
  height: 35vh;
  overflow: hidden;
}

.projects__section--hidden > img {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
  -webkit-box-shadow: 0.25em 0.25em 10px rgba(0, 0, 0, 0.75);
          box-shadow: 0.25em 0.25em 10px rgba(0, 0, 0, 0.75);
}

.projects > .section-title {
  background-color: #fd535c;
}

.about {
  background-color: #68d9f4;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: about;
  -webkit-transform: translateY(-73vh);
          transform: translateY(-73vh);
  z-index: 30;
}

.about > .section-title__container {
  background-color: #68d9f4;
}

.contact {
  background-color: #f8f44f;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: contact;
  -webkit-transform: translateY(-73vh);
          transform: translateY(-73vh);
  z-index: 40;
}

.contact > .section-title__container {
  background-color: #f8f44f;
}

.--hidden {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  overflow-y: hidden;
}

@media (orientation: portrait) and (min-width: 575px) {
  .hero {
    background-position: left;
  }
}

@media (orientation: landscape) {
  .hero {
    background-position: center;
  }
}

.logo {
  width: 5vh;
  margin: 1vh 2vw;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */